{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://localhost:8080/assets/common.css">
{% endblock %}

{% block body %}
    <div id="timeline-app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async src="http://localhost:8080/assets/app.js"></script>
{% endblock %}
