server {
    root {{ doc_root }};

    location / {
        try_files $uri /{{ default_front }}$is_args$args;
    }

    location ~ ^/{{ fronts }}(/|$) {
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
    }

    fastcgi_buffers 16 16k;
    fastcgi_buffer_size 32k;

    error_log /var/log/nginx/vagrant/error.log;
    access_log /var/log/nginx/vagrant/access.log;
}
