{% extends 'TimelineAppBundle:Layout:frontend.html.twig' %}

{% block title %}Timeline app{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        {% autoescape false %}
        window.timeline_info = {
            id: {{ timeline.id }},
            title: '{{ timeline.name|escape }}',
            description: '{{ timeline.description|escape }}'
        };
        {% endautoescape %}
    </script>
    {{ parent() }}
{% endblock %}
